# Supabase Configuration
VITE_SUPABASE_URL= 'https://yloahvttwadlsxugobmo.supabase.co'
VITE_SUPABASE_ANON_KEY= 'sb_publishable_rZ4557v2F_A1-v3evHL39w_f-x0mDEq'

# Gemini AI API Configuration (For File Scanning & Semantic Search)
# Get a free API key at: https://aistudio.google.com/app/apikey
VITE_GEMINI_API_KEY= AIzaSyCZ7v_lcFGG5DquA-zyhVe3QsB_x9-Lc2o
